.parent{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.inputField{
    border: 1px solid #737373;
    width: 62%;
    padding: 0%;
    float: right;
    border-radius: 3px;
}
.passRow{
    padding: 2%;
    width: 85%;
}

#changePasswordContainer{
    order: 1px solid #ffff;
    background-color: #ffff;
    padding: 0 5% 5% 5%;
}

#changePasswordContainer h2, p, label, .Passbutton{
    font-family: muli-semi-bold;
}


.passRowDivider{
    margin: 2%;
    border-bottom: 1px solid #737373;
}
.passwordText{
    width: 82% !important;
    border: none !important;
    padding: 2%; 
}
.passwordText:focus{
    border: none !important;
    outline: none;
}
.password{
    background-color: white;
    border: none;
    float: right;
    padding:3%;
}
.passText{
    color: #737373;
}
#head{
    color: #3B37AE;
}
.topic{
    text-align: center;
}
.Passbutton{
    text-align: center;
    padding: 1%;
    background-color: #337ab7;
    border: none;
    color: white;
    border-radius: 25%;
    cursor: pointer;
    margin-left: 50%;
}
.error{
    margin-left: 50%;
    color: red;
    padding-top: 0%;
}
.fadeOut, .default {
    opacity:0;
    width:0;
    height:0;
    transition: width 2.5s 0.5s, height 2.5s 2.5s, opacity 2.5s;

}
.fadeIn{
    opacity:1;
    width:100%;
    display: flex;
    justify-content: center;
    transition: width 2.5s, height 2.5s, opacity 2.5s 2.5s;

}
#success{
    opacity:0;    
    display: flex;
    justify-content: center;
    transition:visibility 1s, opacity 1s; 
       /*animation-name: submit;*/
    /*animation-duration: 5s;*/
}
@keyframes submit {
    0% {visibility: show;}
    25% {visibility: show;}
    50% {visibility: show;}
    75% {visibility: show;}
    100% {visibility: show;}

}